<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SLBorrow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97B06C6E1F0D0FD700FE8588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B06C841F0D0FD800FE8588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B06C8F1F0D0FD800FE8588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
